{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список рецептов</title>
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!--    {% include 'components/header.html' %}-->

    <div class="container">
        <h2>Список рецептов</h2>
        <a href="{% url 'recipe-create' %}" class="btn">Добавить рецепт</a>
        <div class="recipes">
            {% for recipe in recipes %}
                <div class="card">
                    <h3>{{ recipe.title }}</h3>
                    <p>{{ recipe.description|truncatewords:15 }}</p>
                    <div class="card-buttons">
                        <a href="{% url 'recipe-detail' recipe.pk %}" class="btn">Просмотреть</a>
                        <a href="{% url 'recipe-delete' recipe.pk %}" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% include 'components/footer.html' %}

</body>
</html>

